<%= render 'navbar' %>
<p id="notice"><%= notice %></p>

<h1 style="text-align: center">All Recipes</h1>

<div class="card-container" style="display: flex; flex-wrap: wrap; max-width: 80vw; margin: 0 auto">
  <% @recipes.each do |recipe| %>
    <div class="card" style="width: 25vw; margin: 5px;">
      <div class="card-header">
        <%= recipe.name %>
      </div>
      <div class="card-body">
        <%= recipe.description %><br/>
        <%= recipe.totaltime %><br/>
        <div style="text-align: right">
          <%= link_to 'See More Info', recipe, class: "btn btn-outline-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'Add New Recipe', new_recipe_path, class: "btn btn-success", style: "margin-left: 42vw" %>
