<%= render 'navbar' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Totaltime:</strong>
  <%= @recipe.totaltime %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @recipe.ingredients %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @recipe.instructions %>
</p>

<%= link_to 'Back', recipes_path, class: "btn btn-primary" %>
<%= link_to 'Edit Recipe', edit_recipe_path(@recipe), class: "btn btn-success" %>
<%= link_to 'Delete', @recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
